<!DOCTYPE html>
<html>
  <head>
    {{ partial "header" . }}
  </head>
  <body>
    {{ partial "progress" . }}
    {{ partial "page-top" . }}
    <main class="container" role="main">
      <article class="post">
        <header>
          <p class="post-meta">
            <time datetime="{{ .Date.Format $.Site.Params.fmt.ISO8601 }}" itemprop="datePublished">{{ .Date.Format $.Site.Params.fmt.ISO8601 }}</time>
            on
            {{ range .Params.tags }}
            <a href="{{ "/tags/" | relLangURL }}">{{ . }}</a>
            {{ end }}
          </p>
          <h1 class="post-title{{ if .Draft }} draft{{ end }}">
            {{ .Title }}
          </h1>
        </header>
        <section class="post-content">
          {{ .Content }}
        </section>
        <footer class="post-footer">
          {{ if .Site.Params.Social }}
          <div class="social button-box">
            {{ if .Site.Params.Social.twitter }}
            <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a>
            <a class="twitter-follow-button" href="https://twitter.com/{{ .Site.Params.Social.Twitter}}" data-show-count="false">Follow @{{ .Site.Params.Social.Twitter }}</a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            {{ end }}
          </div>
          {{ end }}
          <nav id="article-nav">
            {{ with .NextInSection }}
            <a class="article-nav-link-wrap previous" href="{{.Permalink}}" id="article-nav-newer"> {{.Title}}</a>
            {{ end }}
            {{ with .PrevInSection }}
            <a class="article-nav-link-wrap next" href="{{.Permalink}}" id="article-nav-older"> {{.Title}}</a>
            {{ end }}
          </nav>
        </footer>
      </article>
    </main>
    {{ partial "disqus" . }}
    {{ partial "footer" . }}
    {{ partial "mathjax" . }}
  </body>
</html>
