<!DOCTYPE html>
<html>
  <head>
    {{ partial "header" . }}
  </head>
  <body>
    {{ partial "page-top" . }}
    <main class="container" role="main" >
      <div class="widget">
        <ul class="tag-box inline list-unstyled">
          {{ $data := .Data }}
          {{ range $key, $value := .Data.Terms.Alphabetical }}
          <li>
            <a href="{{ $.Site.LanguagePrefix }}/{{ $data.Plural }}/{{ $value.Name | urlize }}">{{ $value.Name }}<sup>{{ $value.Count }}</sup></a>
          </li>
          {{ end }}
        </ul>
      </div>

      {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
      <p class="archive-ul" data-toggle="collapse" data-target="#{{ $name }}">
        {{ $name }}&nbsp;<b class="caret"></b>
      </p>
      <ul id="{{ $name }}" class="in">
        {{ range $taxonomy }}
        <li class="listing-item">
          <p class="post-title">
            <small class="post-meta">
              <time datetime="{{ .Date.Format $.Site.Params.fmt.ISO8601 }}" itemprop="datePublished">
                {{ .Date.Format $.Site.Params.fmt.ISO8601 }}
              </time>
            </small>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </p>
        </li>
        {{ end }}
      </ul>
      {{ end }}
    </main>
  </body>
</html>
