<!DOCTYPE html>
<html>
  <head>
    <meta name="robots" content="noindex">
    {{ partial "header" . }}
  </head>
  <body>
    {{ partial "page-top" . }}
    <main class="container" role="main" >
      <div class="widget">
        <ul class="tag-box inline list-unstyled">
          {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
          <li>
            <a href="/tags/{{ $name | lower }}/">{{ $name }}<sup>{{ $taxonomy.Count }}</sup></a>
          </li>
          {{ end }}
        </ul>
      </div>

      {{ if eq .Kind "taxonomy" }}
      <p class="archive-ul">{{ .Title }}</p>
      <ul>
        {{ range .Data.Pages }}
        <li class="listing-item">
          <p class="post-title">
            <a href="{{ .Permalink }}" {{ if .Draft }} class="draft"{{ end }}>{{ .Title }}</a><br>
            <small class="post-meta">
              <time datetime="{{ .Date.Format $.Site.Params.fmt.ISO8601 }}" itemprop="datePublished">
                {{ .Date.Format $.Site.Params.fmt.ISO8601 }}
              </time>
            </small>
          </p>
        </li>
        {{ end }}
      </ul>
      {{ end }}

      {{ if eq .Kind "taxonomyTerm"}}
      {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
      <p class="archive-ul" data-toggle="collapse" data-target="#modal-{{ $name | lower }}">
        {{ $name }}&nbsp;<b class="caret"></b>
      </p>
      <ul id="modal-{{ $name | lower}}" class="in">
        {{ range $taxonomy }}
        <li class="listing-item">
          <p class="post-title">
            <a href="{{ .Permalink }}" {{ if .Draft }} class="draft"{{ end }}>{{ .Title }}</a><br>
            <small class="post-meta">
              <time datetime="{{ .Date.Format $.Site.Params.fmt.ISO8601 }}" itemprop="datePublished">
                {{ .Date.Format $.Site.Params.fmt.ISO8601 }}
              </time>
            </small>
          </p>
        </li>
        {{ end }}
      </ul>
      {{ end }}
      {{ end }}
    </main>
    {{ partial "page-bottom" . }}
    {{ partial "footer" . }}
  </body>
</html>
