<section class="section">
  <div class="container" id="giscus-area">
  </div>
</section>
<template id="giscus-template">
  <script src="https://giscus.app/client.js"
          data-repo="ntalbs/blog-comments"
          data-repo-id="R_kgDOSlRiJA"
          data-category="General"
          data-category-id="DIC_kwDOSlRiJM4C9ovb"
          data-mapping="pathname"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="top"
          data-theme="light_protanopia"
          data-lang="en"
          crossorigin="anonymous"
          async>
  </script>
</template>

<script>
 (function() {
   let mode = getMode();
   let targetTheme = mode==='light' ? 'light_protanopia' : 'dark_protanopia';

   let template = document.getElementById('giscus-template');
   if (!template) return;

   let clone = template.content.cloneNode(true);
   let giscusScript = clone.querySelector('script');
   if (giscusScript) {
     giscusScript.setAttribute('data-theme', targetTheme);
   }
   document.getElementById('giscus-area').appendChild(clone);
 })();
</script>
