<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-{{ .Site.Params.Google.AdSense }}" crossorigin="anonymous"></script>

<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.GoogleAnalytics }}"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', '{{ .Site.GoogleAnalytics }}');
</script>
<meta charset="UTF-8">
{{ if .Site.Params.Google.SiteVerification }}
<meta name="google-site-verification" content="{{ .Site.Params.Google.SiteVerification }}">
{{ end }}

<meta name="description" content="{{ if eq .IsHome true }}{{ .Site.Params.desc }}{{ else }}{{ .Summary }}{{ end }}">

{{ if eq .IsHome false }}
<meta property="og:title" content="{{ .Title }} {{ .Site.Title }}">
<meta property="og:site_name"  content="{{ .Site.Title }}">
<meta property="og:description" content="{{ .Summary }}">
<meta property="og:url" content="{{ .Permalink }}">
{{ end }}
<meta name="og:image" content="{{ if .Params.og_image }}{{ .Site.BaseURL }}{{.Params.og_image}}{{ else }}https://ntalbs.github.io/images/ntalbs.jpg{{ end }}">
<meta name="twitter:card" content="{{ if .Params.og_image }}summary_large_image{{ else }}summary{{ end }}">
<meta name="twitter:site" content="@ntalbs">
<meta name="twitter:creator" content="@ntalbs">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ .Title }}{{ if eq .IsHome false }} {{ .Site.Title }}{{ end }}</title>
<link rel="shortcut icon" href="/images/favicon.ico">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/highlight.css">
