<nav class="navbar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle unselectable" data-toggle="collapse" data-target="#nav-items">+</button>
      <a class="navbar-brand unselectable" href="/">{{ .Site.Title }}</a>
    </div>
    <div class="navbar-items collapsed" id="nav-items">
      <ul>
        <li><input id="search" type="search" placeholder="Search this site" autocomplete="off"></li>
        {{ range .Site.Params.menu.items }}
        <li><a class="unselectable" href="{{ .path }}">{{ .label }}</a></li>
        {{ end }}
        <li><a id="mode-switch" class="unselectable" href="#"></a></li>
      </ul>
    </div>
  </div>
</nav>

<header class="page-head">
  <div class="container">
    <p class="blog-description">{{ .Site.Params.desc }}</p>
  </div>
</header>
