<!DOCTYPE html>
<html>
  <head>
    {{ partial "header" . }}
  </head>
  <body>
    {{ partial "page-top" . }}
    <main class="container" role="main">
      {{ range sort .Paginator.Pages }}
      <article class="post">
        <header class="post-header">
          <span class="post-meta">
            <time datetime="{{ .Date.Format $.Site.Params.fmt.ISO8601 }}" itemprop="datePublished">{{ .Date.Format $.Site.Params.fmt.ISO8601 }}</time>
            on
            {{ range .Params.tags }}
            <a href="/tags/{{ . | lower }}/">{{ . }}</a>
            {{ end }}
          </span>
          <h1 class="post-title">
            <a href="{{ .Permalink }}"{{ if .Draft }} class="draft"{{ end }}>{{ .Title }}</a>
          </h1>
        </header>
        <section class="post-excerpt">
          <p>
            {{ .Summary }}
          </p>
          {{ if .Truncated }}
          <p>
            <a class="button is-link" href="{{ .Permalink }}" style="height:28px">
              Read more...
            </a>
          </p>
          {{ end }}
        </section>
      </article>
      {{ end }}
    </main>
    {{ partial "pager" . }}
    {{ partial "page-bottom" . }}
    {{ partial "footer" . }}
    {{ partial "mathjax" . }}
  </body>
</html>
