<!DOCTYPE html>
<html>
  <head>
    {{ partial "header" . }}
  </head>
  <body>
    {{ partial "page-top" . }}
    <main class="container" role="main">
      <!-- Ranges through content/post/*.md -->
      {{ range .Site.RegularPages.GroupByPublishDate "2006" }}

      <p class="archive-ul" data-toggle="collapse" data-target="#{{ .Key }}">
        {{ .Key }}&nbsp;<b class="caret"></b>
      </p>
      <ul id="{{ .Key }}" class="in">
        {{ range .Pages }}
        <li class="listing-item">
          <p class="post-title">
            <small class="post-meta">
              <time datetime="{{ .Date.Format $.Site.Params.fmt.ISO8601 }}" itemprop="datePublished">
                {{ .Date.Format $.Site.Params.fmt.ISO8601 }}
              </time>
            </small>
            <a href="{{.Permalink}}">{{.Title}}</a>
          </p>
        </li>
        {{ end }}
      </ul>
      {{ end }}
    </main>
    {{ partial "footer" . }}
  </body>
</html>
